@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');

/* Reset */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #232B59;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
    margin: 20px;
}

h3 {
    color: #F23568;
}

form input,
form select {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#button {
    all: unset;
    background-color: #F23568;
    border-radius: 10px;

    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

#button:hover {
    background-color: #8C2E62;
    transform: translateY(2px) translateX(2px);
}

hr {
    width: 50%;
    margin: 20px auto;
}

#details {
    color: #ffffff;
    font-size: .8rem;
}

#final-value {
    color: #232B59;
    background-color: #F23568;
    padding: 10px;
    width: 50%;
    text-align: center;
    display: none;
}

.title {
    display: none;
}

#info-icon {
    color: #ffffff;
    cursor: pointer;
}

#info-icon:hover {
    color: #8C2E62;
}

#info {
    border: 1px solid #ffffff;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    visibility: hidden;
    font-size: .8rem;
}

#info.show {
    visibility: visible;
}

a {
    color: whitesmoke
}